.Carrinho{
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  padding: 20px;
  justify-content: space-around;
}
.Carrinho button{
  font-size: 20px;
  padding: 20px;
  border-color: orange;
  background-color: orange;
  border-radius: 30px;
}
.Botão{
  padding: 15px;
}

@media (max-width: 780px){
  .Carrinho{
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.Total {
  display: block;
}

/* Estilo para telas menores */
@media (max-width: 600px) {
  .Total {
      display: none;
  }
}
ul{
  list-style: none;
}

main{
  background-color: gray;
  margin: 20px;
  
}
.Preço{
  display: flex;
  gap: 20px;
  
}

article{
  display: flex;
  text-align: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
   background-color: #4f4f4f;
  margin: 40px;
}
.Produtos{
  gap: 20px;
  grid-template-columns: repeat(2, 300px);
}
.Part2{
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.flex{
  display: flex;
  gap: 30px;
}

@media (max-width: 1080px){
  article{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background-color: #4f4f4f;
   
  }
  .Part2{
    flex-direction: column;
  }
}

img{
  max-width: 400px;
  height: auto;
}
@media (max-width: 768px){
  img{
    width: 100%;
    height: auto;
  }
}

.Total{
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
