* {
    margin: 0;
    padding: 0;
}

main {
    margin: 40px 45px 40px 45px;
    height: auto;
    width: auto;
    border-radius: 30px;
    background-color: #D9D9D9;
    ;
}

.tit_main {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
}

.perfil_integrante {
    padding-bottom: 50px;
}

.foto_integrante {
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;
}

.img_logo {
    margin: auto;
    display: block;
}

.nome_integrante {
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.contatos_integrantes {
    padding-top: 30px;
}

#logo_linkedin {
    height: 40px;
    width: 40px;
    margin: auto;
    display: block;
}

#logo_email {
    height: 40px;
    width: 50px;
    margin: auto;
    display: block;
}

#logo_whatsapp {
    height: 40px;
    width: 40px;
    margin: auto;
    display: block;
}

@media only screen and (max-width: 576px) {

    main {
        margin: 20px 25px 20px 25px;
    }

    .foto_integrante {
        width: 150px;
        height: 150px;
    }

    .tit_main {
        font-size: 24px;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .perfil_integrante {
        padding-bottom: 20px;
    }

    .nome_integrante {
        font-size: 20px;
    }

    .contatos_integrantes {
        padding-top: 20px;
    }

    #logo_linkedin {
        height: 35px;
        width: 35px;
    }

    #logo_email {
        height: 40px;
        width: 35px;
    }

    #logo_whatsapp {
        height: 35px;
        width: 35px;
    }

}