<<<<<<< HEAD
.duvidas_caixas {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.caixa {
    background-color: #FF7A00;
    height: 300px;
    width: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 250px 0px 0px 0px;
}

.caixa_icone {

    max-height: 70px;
    max-width: 70px;

}

.caix_texto {}

.caixa_dados {
    font-size: 100px;
    padding: 5%;
=======
body {
  font-family: sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: black;
}

header {
  background-color: #ff8c00;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right a {
  margin-right: 15px;
  color: white;
  text-decoration: none;
}

.header-right a:hover {
  text-decoration: underline;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 100px;
  min-height: 80vh;
  padding: 20px;

  background-color: rgb(201, 201, 201);
  margin: 30px;
  border-radius: 15px;
}

.section-title{
  font-size: 30px;
  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  background-color: #ff8c00;
  color: black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 0 15px;
  width: 250px;

  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 20px;
}

.card img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 0;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
>>>>>>> c894023c513dbbd1954195829162e0e1525d4bb5
}