

.conteudo{
    display: flex;
    padding: 60px 80px 60px 89px;
}

.favoritos{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 1000px;
    width: 1740px;
    background-color: var(--cor--cinza);
}

.favoritos_titulo{
    padding-top: 60px;
    font-size: 54px;
}

.favorito{
    padding-top: 80px;
    padding-left: 80px;
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
}

.favorito_dados{
    flex-direction: center;
    padding-top: 15px;
    padding-left: 40px;
    font-size: 34px;
}

.favorito_produto{
    height: 320px;
    width: 320px;
}

.favorito_visualizar{
    padding-top: 15px;
    height: 60px;
    width: 60px;
}

.separacao_favorito{
    background-color: var(--cor-secundaria);
    width: 1660px;
    height: 10px;
}
