* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

main {
    background-color: #D9D9D9;
    width: auto;
    min-height: 90%;
    margin: 40px 45px 40px 45px;
    /* grid: 1; */
    /* right: 10px;
    top: 10px;
    bottom: 10px;
    width: 70%; */
}

.tit_main {
    font-size: 42px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.metodo_pagamento {
    padding-left: 100px;
}

#band_elo {
    width: 95px;
    height: 35px;
}

#band_visa {
    width: 110px;
    height: 35px;
}

#band_mastercard {
    width: 183px;
    height: 35px;
}

.link  {
    text-decoration: none;
    color: var(--cor-secundaria);
}

.link:hover  {
    color: var(--hover-botao);
}

@media only screen and (max-width: 768px) {

    .tit_main {
        padding-bottom: 30px;
        font-size: 32px;
    }

    .metodo_pagamento {
        padding-left: 50px;
    }

}

@media only screen and (max-width: 576px) {

    .tit_main {
        padding: 0;
        text-align: center;
        padding-bottom: 40px;
    }

    .tit_metodo {
        font-size: 22px;
    }

    .metodo_pagamento {
        padding-left: 10px;
    }

    #band_elo {
        width: 60px;
        height: 24px;
    }
    
    #band_visa {
        width: 60px;
        height: 24px;
    }
    
    #band_mastercard {
        width: 120px;
        height: 24px;
    }

}

@media only screen and (max-width: 375px) {

    main {
        margin: 20px 25px 20px 25px;
    }

    .tit_main {
        font-size: 24px;
    }

    .metodo_pagamento {
        padding: 0;
    }

    .bandeiras_cartoes {
        padding: 5px;
    }

}