* {
    margin: 0;
    padding: 0;
}

#cadastro {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 900px;
    width: 1740px;
    background-color: var(--cor--cinza);
}

.tit_main {
    text-align: center;
    font-family: Arial;
    font-size: 42px;
    font-weight: bold;
    padding-top: 61px;
    padding-bottom: 59px;
}

.tit_secao {
    text-align: center;
    font-family: Arial;
    font-size: 42px;
    font-weight: bold;
}

.tit_campo {
    font-family: Arial;
    font-size: 32px;
    font-weight: bold;
}

.cont_campo {
    background-color: white;
    width: 354px;
    height: 40px;
    font-size: 25px;
    padding-left: 20px;
}

#img_perfil {
    padding-left: 29px;
    width: 351px;
    height: 367px;
}