.Carrinho h3 {
  padding: 20px;
  margin-left: 50px;
}
.Carrinho h2 {
  text-align: center;
  padding: 20px;
  
}

@media (max-width: 780px){
  .Carrinho{
    display: flex;
    margin-top: 5px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
  }
  .Carrinho h3{
    margin-top: 5px;
    text-align: center;
    align-items: center;
     margin-right: 50px;
    
  }
}
ul{
  list-style: none;
}

main{
  background-color: gray;
  margin: 20px;
  
}
.Preço{
  display: flex;
  gap: 20px;
  
}

.column{
  display: grid;
  grid-template-rows: 90px 90px;

}
.Total{
  display: flex;
  justify-content: space-around;
  padding: 30px;
   gap: 430px;
}

article{
  display: flex;
  text-align: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
   background-color: #4f4f4f;
  margin: 40px;
}
.Produtos{
  gap: 20px;
  grid-template-columns: repeat(2, 300px);
}

.Part2{
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.flex{
  display: flex;
  gap: 30px;
}

@media (max-width: 1080px){
  article{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background-color: #4f4f4f;

  }
  .Part2{
    flex-direction: column;
  }
}

img{
  max-width: 400px;
  height: auto;
}
@media (max-width: 768px){
  img{
    width: 100%;
    height: auto;
  }
}
