:root {
    --cor-primaria: #FF7A00;
    --cor-secundaria: #000000;
    --cor-fundo: #F5F5F5;
    --cor-branco: #FFFFFF;
    --cor--cinza: #D9D9D9;
    --cor-botao: #3280B9;
    --hover-botao: #3D69B9;

}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    box-sizing: border-box;
    background-color: var(--cor-fundo);
}

.cabecalho {
    background-color: var(--cor-primaria);
    height: 80px;
    width: 100%;
}

#col_tit_header {
    display: flex;
    align-items: center;
}

.cabecalho_titulo {
    color: var(--cor-secundaria);
    align-items: center;
    font-size: 56px;
    padding-left: 30px;
}

.cabecalho_opcoes {
    align-items: center;
    height: 80px;
    gap: 1%
}

.cabecalho_links {
    text-decoration: none;
}

.cabecalho_subtitulo {
    color: var(--cor-secundaria);
    font-size: 36px;
}

.cabecalho_icone {
    max-width: 60px;
}

#btn_menu {
    height: 80px;
    background: transparent;
}

#img_menu {
    height: 40px;
    width: 40px;
}

/* Menu recolhível quando a tela tiver 768px de width*/
.sidebar {
    height: 100%;
    width: 0;
    /* Propriedade alterada em ./script/script.js */
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: grey;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: white;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    padding-left: 3.5%;
    padding-right: 3.5%;
}

.carrossel {
    padding: 4.5px;
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carrossel_posicao {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.carrossel_imagens_tamanho {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slide {
    flex: 0 0 100%;
    display: none;
    justify-content: center;
}

.slide img {
    max-width: 100%;
    max-height: 100%;
}

button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    font-size: 32px;
}

.dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}

.anterior {
    left: 0;
}

.proximo {
    right: 0;
}

.divisao_sessao {
    justify-content: end;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 44px;
}

.sessao_opcoes {
    display: flex;
    flex-direction: column;
}

.opcoes{
    display: flex;
    text-align: center;
    gap: 75px;
}

.conteudo_produtos {
    display: flex;
    text-align: center;
    gap: 75px;
}

.produto,
.departamento {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 1170px;
}

.opcoes_imagem {
    max-width: 100%;
    max-height: 100%;
}

.departamento_titulo {
    padding-bottom: 20px;
    font-size: 24px;
}

.rodape{
    background-color: var(--cor-secundaria);
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 2%;
    bottom: 0;
    left: 0;
    position: fixed;
}

.rodape_links{
    text-decoration: none;
    color: var(--cor-branco);
    font-size: 24px;
}

@media only screen and (max-width: 1200px) {

    .cabecalho_titulo {
        font-size: 50px;
        padding-left: 25px;
    }

    .cabecalho_subtitulo {
        font-size: 30px;
    }

    .cabecalho_icone {
        max-width: 45px;
    }

}

@media only screen and (max-width: 992px) {

    .cabecalho_titulo {
        font-size: 45px;
        padding-left: 0;
    }

    .cabecalho_subtitulo {
        font-size: 25px;
        text-align: right;
    }

    .cabecalho_opcoes {
        gap: 0;
    }

    .cabecalho_icone {
        max-width: 30px;
    }

    .rodape{
        height: auto;
    }
    
}

@media only screen and (max-width: 768px) {

    .cabecalho_titulo {
        font-size: 40px;
    }

    .cabecalho_icone {
        width: 25px;
        height: 25px;
        margin-left: 10px;
    }

}

@media only screen and (max-width: 576px) {

    #img_menu {
        height: 35px;
        width: 35px;
    }

}